In [1]:
import extract
import pandas as pd
import numpy as np
import re
import string
import random, math
dfTransaction = extract.transaction

d:\Work\Projects\ETL\Stage 2\extract.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  transaction = pd.read_sql(q_transaction,mydb)

In [3]:
transaction_id = []     # saves unique transaction values
sales = []

# Stores codes converted to int
product_c = []
customer_c = []
market_c = []

# # stores columns to be added to dfTransaction
# product_type = []
# customer_name = []
# customer_type = []
# markets_name = []
# zone = []

curr = []

revenue = pd.DataFrame([[2017,0],[2018,0],[2019,0],[2020,0]],columns = ['year','total_sales'])
total_sales_amount = [] # saves the total sales amount of each transaction
drop_index = []         # saves indices to be dropped

for i in range(dfTransaction.shape[0]):
    # Removing rows with sales amount<=0 in dfTransaction and correcting currency type
    if dfTransaction.iloc[i]['sales_amount'] <= 0 or dfTransaction.iloc[i]['currency'] == 'INR' or dfTransaction.iloc[i]['currency'] == 'USD':
        drop_index.append(i)

    # changing USD to INR
    if dfTransaction.iloc[i]['currency'] == 'USD\r':
        sales.append(dfTransaction.iloc[i]['sales_amount']*82.23)
    else:
        sales.append(dfTransaction.iloc[i]['sales_amount'])
    
    # changing all currency values to INR
    curr.append('INR')

    # # Adding product_type,customer_name,customer_type,markets_name,zone columns in dfTransaction
    # product_type.append(dfProduct[dfProduct['product_code']==dfTransaction.iloc[i]['product_code']]['product_type'].iloc[0])
    # customer_name.append(dfCustomer[dfCustomer['customer_code']==dfTransaction.iloc[i]['customer_code']]['custmer_name'].iloc[0])
    # customer_type.append(dfCustomer[dfCustomer['customer_code']==dfTransaction.iloc[i]['customer_code']]['customer_type'].iloc[0])
    # markets_name.append(dfMarket[dfMarket['markets_code']==dfTransaction.iloc[i]['market_code']]['markets_name'].iloc[0])
    # markets_name.append(dfMarket[dfMarket['markets_code']==dfTransaction.iloc[i]['market_code']]['zone'].iloc[0])

    # converting codes to integer values
    product_c.append(int(re.findall(r'\d+', dfTransaction.iloc[i]['product_code'])[0]))
    customer_c.append(int(re.findall(r'\d+', dfTransaction.iloc[i]['customer_code'])[0])) 
    market_c.append(int(re.findall(r'\d+', dfTransaction.iloc[i]['market_code'])[0])) 

    # Giving each transaction a unique value
    transaction_id.append(''.join(random.choices(string.ascii_lowercase + string.digits, k=18)))

    # calculating total sales amount
    total_sales_amount.append(dfTransaction.iloc[i]['sales_qty']*sales[i])

    # adding total sales amount to revenue
    if i not in drop_index:
        revenue.iloc[dfTransaction.iloc[i]['order_date'].year-2017]['total_sales'] += total_sales_amount[i]

dfTransaction['total_sales_amount'] = total_sales_amount
dfTransaction['transaction_id'] = transaction_id
dfTransaction['product_code'] = product_c
dfTransaction['market_code'] = market_c
dfTransaction['customer_code'] = customer_c
dfTransaction['currency'] = curr
dfTransaction['sales_amount'] = sales

dfTransaction.drop(drop_index,inplace=True)
dfTransaction.shape

(148395, 9)

In [14]:
dfTransaction.columns

Index(['product_code', 'customer_code', 'market_code', 'order_date',
       'sales_qty', 'sales_amount', 'currency', 'total_sales_amount',
       'transaction_id'],
      dtype='object')

In [16]:

import os 

sql_pass = os.getenv('sql_pass')
uid =  'postgres'
server = "haq-PC"
# import packages
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

def load(df,table,sql):
    # establish connections
    conn_string = f'postgresql://{uid}:{sql_pass}@127.0.0.1:5432/sales'

    db = create_engine(conn_string)
    conn = db.connect()
    conn1 = psycopg2.connect(
        database="sales",
    user=uid,
    password=sql_pass,
    host='127.0.0.1',
    port= '5432'
    )

    conn1.autocommit = True
    cursor = conn1.cursor()

    # drop table if it already exists
    cursor.execute(f'drop table if exists {table}')
    cursor.execute(sql)

    # import the csv file to create a dataframe
    data = df

    # converting data to sql
    data.to_sql(table, conn, if_exists= 'replace')

    conn1.commit()
    conn1.close()

sqlTransaction = '''create table transaction (
    product_code varchar(45), 
    customer_code varchar(45), 
    market_code varchar(45), 
    order_date date,
    sales_qty int, 
    sales_amount double precision, 
    currency varchar(45), 
    total_sales_amount double precision,
    transaction_id varchar(45));'''
sqlRevenue = '''CREATE TABLE revenue (
    order_year INT,
    total_sales DOUBLE);'''
load(dfTransaction,'transaction',sqlTransaction)
load(revenue,'revenue',sqlRevenue)